@charset "UTF-8";
.navigation {
    height: 70px;
    background: #fff;
    position: fixed;
    z-index: 2;
    width: 100%;
}

/* Quitamos el relleno y el margen del documento */
*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(255, 255, 255);
}

/* Codificamos nuestra barra de navegación */
.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}
.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

/* Configuramos el tamaño de la imagen dentro de la Barra */
.brand a img{
    height: 60px;
    margin-top: 5px;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    float: right;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    position: relative;
}
nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #fff;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

/* Aplicamos un efecto background a los elementos principales de la barra */
nav ul li a:hover,
nav ul li a:visited:hover {
    background: #1453e6;
    color: #eeeeee;
}


/* Aplicamos otro color de background a un elemento en especifico */
nav ul li .redes:hover,
nav ul li .redes:visited:hover {
    background: #6a86e0;
    color: #fff;
}

/* Aplicamos otro color de background a un elemento en especifico */
nav ul li .priv:hover,
nav ul li .priv:visited:hover {
    background: #49a1fa;
    color: #eeeeee;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: " ▾";
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Navgeación móvil */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #ffffff;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 798px) {

    .nav-mobile {
        display: block;
    }
    nav {
        width: 100%;
        padding: 70px 0 15px;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
    .nav-dropdown {
        position: static;
    }

    .brand a img{
        height: 40px;
        margin-top: 15px;
    }
}


@media screen and (min-width: 799px) {
    
    .nav-list {
    display: block !important;
    }
}


#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #000000;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}



    @media screen and (max-width: 480px){
        .banner{
            width: 100%;
            height: 75vh;
            overflow: hidden;
            position: relative;
        }
            
        #hero {
            display: flex;
            width: 100%;
            height: 75vh;
            justify-content: center;
            text-align: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.0),
            rgba(0,0,0,0.0)
            )
            ,url("background-img.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        
        .titulo-banner{
            display: flex;
            width: 270px;
            justify-content: center;
        }
        
        .titulo-banner h1{
            font-size: 15px;
            color: #49a1fa;
            text-align: center;
            font-family: 'Segoe UI';
        }
        
        .text-banner{
            display: flex;
            width: 100%;
            justify-content: center;
            margin-top: 10px;
        }
        
        .text-banner span{
            font-size: 12px;
            font-family: 'Segoe UI';
            color: #000;
            font-style: normal;
        }
        
        /* Estilos para el button con ubicación en banner */
        .banner button {
            margin-top: 10px;
            padding: 6px 30px;
            border: unset;
            border-radius: 5px;
            z-index: 1;
            color: #ffffff;
            background: #49a1fa;
            position: relative;
            -webkit-box-shadow: 4px 8px 19px -6px rgba(255, 255, 255, 0.788);
            box-shadow: 4px 8px 19px -6px  rgba(255, 255, 255, 0.788);
            transition: all 250ms;
            overflow: hidden;
        }
        
        .banner button span{
            font-family: sans-serif;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
        }
        
        .banner button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 0;
            border-radius: 5px;
            background-color: #6a86e0;
            transition: all 150ms
        }
        
        .banner button:hover {
            color: #e8e8e8;
        }
        
        .banner button:hover::before {
            width: 100%;
        }
        
        .center{
            display: flex;
            width: 100%;
            justify-content: initial;
        }
        
        .back{
            display: flex;
            width: 600px;
            height: 400px;
            margin-top: 30px;
            margin-left: 90px;
            margin-bottom: 120px;
        }
        
        #slider{
            display: flex;
            flex-direction: column;  
            justify-content: center;  
            overflow: hidden;
        }
        
        #slider figure{
            position: relative;
            width: 600%;
            margin: 0;
            left: 0;
            animation: 24s slider infinite;
        }
        
        #slider figure img{
            width: 16.6666%;
            height: 400px;
            float: left;
        }
        
        
        @keyframes slider{
            0%{
                left: 0;
            }
            15%{
                left: 0;
            }
            20%{
                left: -100%;
            }
            35%{
                left: -100%;
            }
            40%{
                left: -200%;
            }
            55%{
                left: -200%;
            }
            60%{
                left: -300%;
            }
            75%{
                left: -300%;
            }
            80%{
                left: -400%;
            }
            95%{
                left: -400%;
            }
            100%{
                left: -500%;
            }
        }
        
        
        /* Se aplica el keyframes para el efecto de salida del tracking  */
        .tracking-in-expand {
            -webkit-animation: tracking-in-expand 3.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) backwards;
                animation: tracking-in-expand 3.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) backwards;
        }
        
        @-webkit-keyframes tracking-in-expand {
            0% {
            letter-spacing: -0.5em;
            opacity: 0;
        }
            40% {
            opacity: 0.6;
        }
            100% {
            opacity: 1;
        }
        }
        
        @keyframes tracking-in-expand {
            0% {
                letter-spacing: -0.5em;
                opacity: 0;
            }
            40% {
                opacity: 0.6;
            }
            100% {
                opacity: 1;
            }
        }
        
        /* Efecto ken burn para imagen */
        .kenburns-top {
        -webkit-animation: kenburns-top 5s ease-in-out both;
                animation: kenburns-top 5s ease-in-out both;
        }
        
        @-webkit-keyframes kenburns-top {
            0% {
            -webkit-transform: scale(1) translateY(0);
                transform: scale(1) translateY(0);
            -webkit-transform-origin: 50% 16%;
                transform-origin: 50% 16%;
            }
            100% {
            -webkit-transform: scale(1.25) translateY(-15px);
                transform: scale(1.25) translateY(-15px);
            -webkit-transform-origin: top;
                transform-origin: top;
            }
        }
        
        @keyframes kenburns-top {
            0% {
            -webkit-transform: scale(1) translateY(0);
                transform: scale(1) translateY(0);
            -webkit-transform-origin: 50% 16%;
                transform-origin: 50% 16%;
            }
            100% {
            -webkit-transform: scale(1.25) translateY(-15px);
                transform: scale(1.25) translateY(-15px);
            -webkit-transform-origin: top;
                transform-origin: top;
            }
        }
    }



    /* Estilos para reloj 
    .container-clock{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    }

    #time{
    font-family: sans-serif;
    color: #ffffff;
    }

    #date{
    font-family: sans-serif;
    color: #ffffff;
    font-weight: 500;
    }
    */